* {
    border: 0; margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #252525;
    list-style: none;
}

html {
    scroll-padding-top: var(--header-h);
    overflow-x: hidden;
}

section {
    height: auto;
    padding: 40px 20px;
    display: flex;
    justify-content: center; align-items: center;
    flex-direction: column;
    overflow: hidden;
}

section:nth-of-type(1) {
    height: 100vh;
    background-image: url(https://news.sap.com/latinamerica/files/2021/02/23/Untitled-design-49.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center var(--header-h);
    background-color: #000;
    padding: 0;
}

section > div {
    height: 100%; width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section:nth-of-type(1) > div {
    padding: calc(20px + var(--header-h)) 10% 20px;
    height: 100%; width: 100%;
    background: #000000b7;
    display: flex;
    justify-content: space-between; align-items: center;
    flex-direction: row;
}

section > div > h2 {
    font-weight: 600;
    width: 40%;
    text-align: center;
    background: #FFD34E;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 5px #3939395d;
}

section:nth-of-type(1) > div > div {
    width: 40%;
}

section:nth-of-type(1) > div > div:nth-of-type(1) h2 {
    border-bottom: 1px solid #FFD34E;
    color: #FFD34E;
    font-weight: 900;
    font-size: 36px;
    padding: 10px 0;
    margin-bottom: 5px;
}

section:nth-of-type(1) > div > div:nth-of-type(1) h3 {
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 2px #FFD34E;
}

section:nth-of-type(1) > div > img {
    border: 3px solid #fff;
    width: 40%;
}

section:nth-of-type(even) {
    background: #f4f4f4;
}

section:nth-of-type(4) > div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(4) > div > div > div {
    background: #fff;
    height: 250px; width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 5px #3939391d;
}

/* section:nth-of-type(4) > div > div > div:hover {
    ...
} */

section:nth-of-type(4) > div > div > div > div > h3 {
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

section:nth-of-type(4) > div > div > div > div > p {
    text-align: center;
}

section:nth-of-type(4) > div > div > div > i {
    color: #292929;
    font-size: 40px;
    margin-bottom: 10px;
}

section:nth-of-type(5) > div > div > h3 {
    font-weight: 500;
    padding: 10px 0;
    border-bottom: 2px solid #000;
}

section:last-of-type {
    height: auto;
    padding: 0;
    overflow: hidden;
}

section:last-of-type > div > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

section:last-of-type > div > div > div {
    width: 100%;
    display: flex;
    padding-top: 10px;
    flex-direction: row;
}

section:last-of-type > div > div:nth-of-type(1) > h2 {
    font-weight: 900;
    width: 100%;
    border-bottom: 2px solid #000;
    padding: 5px 0;
}

section:last-of-type > div > div > div > div:nth-of-type(1) {
    height: 100%; width: 100%;
    display: flex;
    flex-direction: column;
}

section:last-of-type > div > div > div > div:nth-of-type(1) > p {
    margin-bottom: 10px;
}

section:last-of-type > div > div > div > div:nth-of-type(1) > p:last-of-type {
    margin-bottom: 0;
}

section:last-of-type > div > div > div > div:nth-of-type(2) {
    height: 100%; width: 60%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

section:last-of-type > div > div > div > div:nth-of-type(2) > iframe {
    border: 3px solid #000;
    height: 100%; width: 100%;
}

section:last-of-type > div > div > div > div:nth-of-type(2) > a {
    background: #FFD34E;
    border: 3px solid #000;
    width: 100%;
    padding: 10px;
    text-align: center;
}

section:last-of-type > div > div > div > div:nth-of-type(2) > a:hover {
    background: #ffc516;
}

footer {
    height: 70px; width: 100%;
    background: #191919;
}