* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #252525;
    list-style: none;
}

html {
    scroll-padding-top: var(--header-h);
    overflow-x: hidden;
}

section {
    padding: 40px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: #f6f6f6;
}

section:nth-of-type(1) {
    height: 100vh;
    padding: 0;
    background: #000 url(https://news.sap.com/latinamerica/files/2021/02/23/Untitled-design-49.png) center var(--header-h) / cover no-repeat;
}

section > div {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section:nth-of-type(1) > div {
    width: 100%;
    height: 100%;
    padding: calc(20px + var(--header-h)) 10% 20px;
    background: #000000b8;
    justify-content: space-between;
    flex-direction: row;
}

section > div > h2 {
    width: 100%;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
}

section > div > p {
    margin: 10px 0 0 0;
    text-align: center;
}

section:nth-of-type(1) > div > div {
    width: 40%;
}

section:nth-of-type(1) > div > div:nth-of-type(1) h2 {
    padding: 10px 0;
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: 900;
    color: #ffd34e;
    border-bottom: 1px solid #ffd34e;
}

section:nth-of-type(1) > div > div:nth-of-type(1) h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}

section:nth-of-type(1) > div > img {
    width: 40%;
    border: 3px solid #fff;
}

section:nth-of-type(4) > div {
    width: 80%;
}

section:nth-of-type(4) > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(4) > div > div > div {
    width: 300px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #3939391c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-of-type(4) > div > div > div:last-of-type {
    margin-bottom: 0;
}

section:nth-of-type(4) > div > div > div > i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #292929;
}

section:nth-of-type(4) > div > div > div > div > h3 {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #000;
}

section:nth-of-type(4) > div > div > div > div > p {
    text-align: center;
}

section:nth-of-type(5) > div > div {
    width: 100%;
    margin: 20px 0 0 0;
    background: #fff;
    box-shadow: 0 0 5px #3939391c;
    padding: 20px;
    border-radius: 10px;
}

section:nth-of-type(5) > div > p {
    margin: 5px 0 0 0;
}

section:nth-of-type(5) > div > div > h3 {
    padding: 0 0 5px 0;
    font-weight: 500;
    border-bottom: 2px solid #000;
}

section:nth-of-type(5) > div > div > div {
    margin-top: 12px;
    display: flex;
}

section:nth-of-type(5) > div > div:last-of-type > div {
    flex-direction: column;
}

section:nth-of-type(5) > div > div > div > p {
    width: 100%;
    text-align: justify;
}

section:nth-of-type(5) > div > div > div > div {
    width: 500px;
    margin: 0 0 0 20px;
}

section:nth-of-type(5) > div > div:last-of-type > div > div {
    width: 500px;
    margin: 20px 0 0 0;
}

section:nth-of-type(5) > div > div > div > div > img {
    width: 100%;
    box-shadow: 0 0 5px #1919198e;
}

section:nth-of-type(5) > div > div:last-of-type > div > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

section:nth-of-type(5) > div > div:last-of-type > div > div:last-of-type {
    margin-left: 0;
}

section:nth-of-type(5) > div > div:last-of-type > div > div > img {
    width: 200px;
    margin: 0 10px 0 0;
}

section:nth-of-type(5) > div > div:last-of-type > div > div > img:last-of-type {
    margin: 0;
}

section:last-of-type {
    padding: 0;
}

section:last-of-type > div > div {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

section:last-of-type > div > div > div {
    width: 100%;
    padding-top: 10px;
    display: flex;
}

section:last-of-type > div > div:nth-of-type(1) > h2 {
    width: 100%;
    padding: 5px 0;
    font-weight: 900;
    border-bottom: 2px solid #000;
}

section:last-of-type > div > div > div > div:nth-of-type(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section:last-of-type > div > div > div > div:nth-of-type(1) > p {
    margin-bottom: 10px;
}

section:last-of-type > div > div > div > div:nth-of-type(1) > p:last-of-type {
    margin-bottom: 0;
}

section:last-of-type > div > div > div > div:nth-of-type(2) {
    width: 60%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

section:last-of-type > div > div > div > div:nth-of-type(2) > iframe {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
}

section:last-of-type > div > div > div > div:nth-of-type(2) > a {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #ffd34e;
    border: 2px solid #000;
    border-top: 0;
}

section:last-of-type > div > div > div > div:nth-of-type(2) > a:hover {
    background: #ffc516;
}

footer {
    height: 70px;
    width: 100%;
    background: #191919;
}