:root {
    --header-h: 70px;
}

header {
    background: #FFD34E;
    position: fixed;
    height: var(--header-h);
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
    z-index: 999;
}

.nav {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav > div {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav > div > img {
    height: 40px;
}

.nav > div > li > a {
    display: none;
}

.menu-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
}

.menu-links > li {
    margin: 0 20px 0 0;
}

.menu-links > li:last-of-type {
    margin-right: 0;
}

.menu-links > li > a {
    padding: 10px;
    background: linear-gradient(#000 0 0) bottom/0% 1px no-repeat;
    transition: 0.5s all;
}

.menu-links > li > a:hover {
    background-size: 100% 1px;
}

.menu-links > li:last-of-type > a {
    background: #191919;
    border-radius: 5px;
    color: #fff;
}

.menu-links > li:last-of-type > a:hover {
    background: #000;
    border-bottom: none;
}

.nav-menu input {
    display: none;
}

.nav-menu span {
    display: none;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
}

.nav-menu span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.nav-menu span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.nav-menu span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.nav-menu input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: -4px;
    left: 5px;
}

.nav-menu input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.nav-menu input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 24px;
    left: 5px;
}