@media screen and (max-width: 950px) {
    header {
        height: var(--header-h);
    }

    .nav > div > li > a {
        display: block;
        padding: 10px;
        background: #191919;
        border-radius: 5px;
        color: #fff;
    }

    .nav > div > li > a:hover {
        background: #000;
    }

    .menu-links {
        display: none;
    }

    .menu-links > li {
        margin: 15px 0;
    }

    .menu-links > li > a {
        color: #fff;
    }

    .nav {
        flex-direction: row;
    }

    .nav > div {
        width: 100%;
        padding-right: 10px;
    }

    .nav-menu {
        position: relative;
        background: transparent;
        cursor: pointer;
        width: 40px;
        height: 25px;
      }

    .nav-menu span {
        display: block;
    }

    .menu-links > li:last-of-type {
        display: none;
    }

    .menu-links > li > a {
        background: linear-gradient(#FFD34E 0 0) bottom/0% 1px no-repeat;
    }

    .nav-menu input:checked ~ .menu-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: var(--header-h); left: 0;
        background: #292929;
        height: auto; width: 100%;
        padding: 0 5%;
        border-bottom: 2px solid #000;
    }
}

@media screen and (max-width: 650px) {
    .nav-menu input:checked ~ .menu-links {
        flex-direction: column;
        padding: 10px;
    }
}

@media screen and (max-width: 350px) {
    .nav > div {
        width: auto;
        padding-right: 0;
    }

    .nav > div > li > a {
        display: none;
    }

    .menu-links > li:last-of-type {
        display: flex;
    }
}