@media screen and (max-width: 950px) {
    header {
        height: auto;
        padding: 10px 0;
    }

    header > nav {
        flex-direction: column;
    }

    header > nav > div {
        width: 100%;
    }

    header > nav > div > li > a {
        display: block;
        padding: 10px;
        background: #292929;
        border-radius: 5px;
        color: #fff;
    }

    header > nav > div > li > a:hover {
        background: #191919;
        border-bottom: none;
    }
    
    header > nav > label > ul > li > a:hover {
        background-size: 100% 1px;
    }

    header > nav > label {
        margin: 20px 0 5px 0;
        width: 100%;
    }

    header > nav > label > ul {
        justify-content: space-between;
    }

    header > nav > label > ul > li:nth-of-type(5) {
        margin-right: 0;
    }

    header > nav > label > ul > li:last-of-type {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    header {
        height: var(--header-h);
    }

    header > nav {
        flex-direction: row;
    }

    header > nav > div {
        width: auto;
    }

    header > nav > label {
        width: auto;
        margin: 0;
    }

    header > nav > label > ul, li {
        display: none;
    }

    .burger {
        position: relative;
        background: transparent;
        cursor: pointer;
        width: 40px;
        height: 25px;
      }

    .burger span {
        display: block;
    }

    .nav > li {
        margin: 15px 0;
    }

    .burger input:checked ~ .nav {
        display: flex;
    }
}