@media screen and (max-width: 1000px) {
    section > div {
        width: 80%;
    }

    section:nth-of-type(4) > div > div > div {
        margin: 10px;
    }

    section:nth-of-type(4) > div > div > div:last-of-type {
        margin-bottom: 0;
    }

    .menu-icons {
        display: flex;
    }

    .nav-menu {
        width: auto;
    }

    .boton-contact {
        margin-right: 10px;
    }

    .menu-links {
        display: none;
    }
    
    .menu-links > li {
        margin: 10px 0;
    }
    
    .menu-links > li > a {
        background: linear-gradient(#ffd34e 0 0) bottom/0% 1px no-repeat;
        color: #fff;
    }

    .nav-menu input:checked ~ .menu-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: var(--header-h); left: 0;
        background: #292929f4;
        height: auto; width: 100%;
        padding: 5px 10%;
        border-bottom: 2px solid #000;
    }

    section > div > h2 {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    section:nth-of-type(5) > div > div > div > div > img {
        margin: 10px 0 0 0;
    }

    section:nth-of-type(5) > div > div:last-of-type > div > div > img:nth-of-type(2) {
        margin: 0;
    }

    section:nth-of-type(5) > div > div:last-of-type > div > div > img:last-of-type {
        margin: 10px 0 0 0;
    }

    section:nth-of-type(5) > div > div:last-of-type > div > div {
        flex-wrap: wrap;
    }

    section:nth-of-type(5) > div > div:last-of-type > div > div > img {
        width: 40%;
    }

    section:nth-of-type(5) > div > div > div {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    section:nth-of-type(5) > div > div > div > div {
        width: 100%;
        margin: 10px 0 0 0;
    }

    section:nth-of-type(4) > div > div > div {
        height: auto; width: 100%;
        margin: 20px 0 0 0;
    }

    section > div > h2 {
        width: 100%;
    }

    section > div > p {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    section > div {
        width: 90%;
    }

    section:nth-of-type(4) > div {
        width: 90%;
    }

    section:nth-of-type(1) > div {
        flex-direction: column;
        justify-content: center;
    }

    section:nth-of-type(1) > div > div {
        width: 100%;
        margin-bottom: 30px;
    }

    section:nth-of-type(1) > div > div:nth-of-type(1) h2, section:nth-of-type(1) > div > div:nth-of-type(1) h3 {
        text-align: center;
    }

    section:nth-of-type(1) > div > img {
        width: 60%;
    }
    
    section:last-of-type > div > div > div {
        align-items: center;
        flex-direction: column;
    }

    section:last-of-type > div > div > div > div:nth-of-type(2) {
        margin: 20px 0 0 0;
        width: 80%;
    }

    section:last-of-type > div > div:nth-of-type(1) > h2 {
        font-weight: 900;
        text-align: center;
        width: 100%;
        border-bottom: 2px solid #000;
        padding: 5px 0;
    }

    section:last-of-type > div > div > div > div:nth-of-type(2) > iframe {
        height: 100%;
    }
}

@media screen and (max-width: 650px) {
    .nav-menu input:checked ~ .menu-links {
        flex-direction: column;
    }

    section:nth-of-type(1) > div > img {
        width: 80%;
    }

    section:last-of-type > div > div > div > div:nth-of-type(2) {
        margin: 10px 0 0 0;
        width: 100%;
    }

    footer div h4 {
        font-size: 12px;
    }
}